{% extends "base.html" %}

{% block scripts %}
<script type="text/javascript" src="/static/js/projects.js"></script>
{% endblock scripts %}

{% block header%}
	<div class="container">
		<h1>Projects</h1>
		<p>Your Codenalysis projects are listed below</p>
	</div>
	<hr/>
{% endblock header%}

{% block body %}
<div class="rest_button" data-text="New Project" data-button_type="success" data-method="POST" data-endpoint="/api/v1/projects"></div><br/><br/>
<table id="projects" class="table table-striped table-hover" style="width: 100%;"></table>
{% endblock body %}